*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */
body{
    background-color: whitesmoke;
}

/* mq aplicado a todos los html */
/* estilo mobile */
/* estilos header */
header{
    align-items: center;
    background-color: rgba(40, 176, 162, 0.347);
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1em 3em;
}
header img{
    width: 20%;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 15px;
}
.nav-item{
    text-decoration: none;
    list-style: none;
}
.nav-link{
    color: black;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.nav-link :active{
    color: whitesmoke;
}

/* estilos de main */
main{
    justify-content: center;
    text-align: center;
    align-items: center;
}
h1{
    font-size: 40px;
    text-shadow: rgba(104, 143, 134, 0.281) 5px 5px 2px;
    padding-top: 20px;
}
.textos{
    font-style: oblique;
}
.content{
    display: grid;
}
.content img{
    height: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20%);
    row-gap: 0.5rem;
    padding: 0.5rem;
    align-content: center;
}
.content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .img-uno{
    display: none;
}
.nuestros-productos{
    color: rgb(83, 155, 125);
    font-size: 40px;
    text-shadow: rgba(104, 143, 134, 0.281) 5px 5px 2px;
}
.sobre-nosotros{
    color: rgb(83, 155, 125);
    font-size: 40px;
    text-shadow: rgba(104, 143, 134, 0.281) 5px 5px 2px;
}
.opiniones{
    color: rgb(83, 155, 125);
    font-size: 40px;
    text-shadow: rgba(104, 143, 134, 0.281) 5px 5px 2px;
}
.contacto{
    color: rgb(83, 155, 125);
    font-size: 40px;
    text-shadow: rgba(104, 143, 134, 0.281) 5px 5px 2px;
}
h2{
    color:rgb(9, 99, 96);
    padding: 10px;
    font-size: 30px;
}
h3{
    color:rgb(48, 45, 44);
    padding: 15px;
    font-size: 20px;
}
.clientes{
    color: rgb(9, 99, 96);
    font-size: 25px;
}

/* estilos de section */
section{
    margin: 20px;
    padding: 20px;
}
.content{
    background-color: rgba(161, 246, 226, 0.272);
    border-radius: 1em 3em;
}
.carousel-item img{
    display: flex;
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: auto;
    border-radius: 30%;
}
mark{
    background-color: whitesmoke;
    border-radius: 1em 3em;
}
section .productos{
    display: flex;
    justify-content: space-around;
}
section .productos img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}
section div .item{
    text-align: center;
    margin: 20px;
}
section .valoraciones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}
section .valoraciones img{
    width: 30%;
}
.formulario{
    text-align: left;
    margin-left: 8rem;
    margin-right: 8rem;
}
div .btn{
    margin: 0.5rem;
}
section .redes img{
    width: 10%;
    border-radius: 50%;
    margin: 0.5rem;
}
section .ubicacion img{
    border-radius: 20%;
}

/* estilos de footer */
footer{
   text-align: center;
   color: rgb(0, 0, 0);
   margin-top: 2rem;
}

/* estilos para tablet */
@media screen and (min-width: 600px){
header img{
    width: 15%;
    padding-left: 20px;
}
.content{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 40%);
    column-gap: 1rem;
}
.content .img-uno{
    display: block;
}
.content .img-cuatro{
    grid-column: span 2;
}
.content .img-tres{
    display: none;
}
}

/* estilos de desktop */
@media screen and (min-width: 1024px){
header .logo{
    width: 10%;
    padding-left: 20px;
}
.content{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 30% 20%;
}
.content .img-tres{
    display: block;
}
.content .img-uno{
    grid-row: span 3;
}
.content .img-cuatro{
    grid-row: span 2;
}
}