/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */
body {
  background: white;
  font-style: oblique;
}

/* estilos de header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(63deg, rgb(0, 0, 0), rgba(26, 27, 88, 0.934), rgba(155, 99, 169, 0.614) 78%);
  padding-right: 30px;
  padding-left: 20px;
}
header img {
  width: 20%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
  font-size: 15px;
}
header nav ul li {
  text-decoration: none;
  list-style: none;
}
header nav ul li a {
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
header nav ul li a :active {
  color: whitesmoke;
}
header nav ul li em {
  color: antiquewhite;
}

/*estilos de main */
main {
  height: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main .clientes {
  color: rgb(9, 99, 96);
  font-size: 25px;
}
main h1 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 0px rgb(247, 248, 245);
  font-size: 40px;
  padding: 30px;
  background-image: url(https://img.freepik.com/vector-premium/marco-borde-acuarela-flores-magnolia-azul-transparente-flores-magnolia-transparente_252097-560.jpg?w=360);
}
main h2 {
  padding: 15px;
  font-size: 20px;
  text-shadow: rgba(83, 55, 107, 0.281) 5px 5px 2px;
}
main h3 {
  color: rgb(48, 45, 44);
  padding: 15px;
  font-size: 15px;
}
main .sale {
  background-color: rgb(95, 32, 105);
  color: whitesmoke;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
main h4 {
  color: rgb(29, 33, 33);
  font-size: 15px;
}

/*estilos section */
section {
  margin: 30px;
}
section div div .carousel-item img {
  display: flex;
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: auto;
  border-radius: 30%;
}
section div div .carousel-item div h3 mark {
  background: linear-gradient(63deg, rgba(245, 236, 213, 0.2527135854) 0%, rgba(255, 250, 236, 0.6784838936) 50%, rgba(255, 255, 255, 0.3087359944) 78%, rgba(255, 255, 255, 0.4852065826) 89%);
  border-radius: 1em 3em;
}
section .promo-envio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(216, 207, 229, 0.511);
  gap: 20px;
  align-items: center;
  border-radius: 4rem 2rem 4rem 2rem;
}
section .promo-envio img {
  width: 20%;
  height: 40%;
  border-radius: 20%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
section .promo-envio h4 span {
  display: block;
}

section .productos {
  display: flex;
  justify-content: space-around;
}
section .productos img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 20%;
}
section .productos .item {
  text-align: center;
  margin: 10px;
}
section .productos .item .tres {
  display: none;
}

section .ofertas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
section .ofertas .ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .ofertas .card {
  width: 100%;
  height: 400px;
  background: linear-gradient(63deg, rgba(255, 255, 255, 0.317), rgba(255, 255, 255, 0.9960784314));
  transition: transform 1s ease, box-shadow 1s ease;
}
section .ofertas .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
section .ofertas .card-img-top {
  width: 100%;
  height: 200px;
}
section .ofertas .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
section .ofertas .card-body .card-title {
  font-size: 15px;
  margin-bottom: 0.75rem;
}
section .ofertas .card-body .card-text {
  font-size: 15px;
  margin-bottom: 1rem;
}

section .valoraciones {
  display: flex;
  justify-content: center;
  gap: 10px;
}
section .valoraciones img {
  width: 40%;
  align-items: center;
  justify-content: center;
}
section .valoraciones .tres-val {
  display: none;
}

section .mb-3 {
  margin: 40px;
  text-align: left;
}
section .mb-3 .btn {
  margin: 0.5rem;
  background-color: rgb(32, 105, 102);
  border-color: rgb(32, 105, 102);
}

section .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 20%);
  gap: 1rem;
}
section .content img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border: 4px solid black;
}
section .img-uno {
  display: none;
}

section .redes {
  justify-content: center;
  height: auto;
}
section .redes img {
  width: 20%;
  border-radius: 50%;
  margin: 0.5rem;
  margin-bottom: 2rem;
}
section .ubicacion img {
  width: 35%;
  border-radius: 20%;
}

/* estilos de footer */
footer {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}

/* estilos para tablet */
@media screen and (min-width: 600px) {
  /*estilos header */
  header img {
    width: 15%;
    padding-left: 20px;
  }
  /*estilos main */
  main h1 {
    font-size: 50px;
    padding: 35px;
  }
  main h2 {
    padding: 10px;
    font-size: 30px;
  }
  main h3 {
    padding: 15px;
    font-size: 20px;
  }
  main h4 {
    font-size: 15px;
  }
  main h5 {
    font-size: 15px;
  }
  /* estilos section */
  section .index img {
    margin-top: 20px;
  }
  section .productos .item .tres {
    display: block;
    width: 100%;
    height: 100%;
  }
  section .ofertas .card-img-top {
    width: 100%;
    height: 200px;
  }
  section .valoraciones {
    margin: 20px;
  }
  section .valoraciones img {
    width: 30%;
  }
  section .valoraciones .tres-val {
    display: block;
  }
  section .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25%);
  }
  section .img-uno {
    display: block;
    grid-row: span 2;
  }
  section .img-tres {
    display: block;
  }
  section .img-cuatro {
    grid-column: span 2;
  }
  section .ubicacion img {
    width: 30%;
  }
}
/* estilos de desktop */
@media screen and (min-width: 1024px) {
  /* estilos header */
  header img {
    width: 10%;
  }
  /* estilos section */
  section .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25%);
  }
  section .img-uno {
    grid-row: span 3;
  }
  section .img-cuatro {
    grid-column: span 2;
    grid-row: span 2;
  }
  section .valoraciones {
    margin: 20px;
  }
  section .valoraciones img {
    width: 40%;
  }
  section .redes img {
    width: 10%;
  }
  section .ubicacion img {
    width: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
