//colores
$color-principal: white;
$color-header: linear-gradient(63deg, rgb(0, 0, 0), rgba(26, 27, 88, 0.934), rgba(155, 99, 169, 0.614) 78%);
$color-sombra: rgba(83, 55, 107, 0.281) 5px 5px 2px;
$color-h3: rgb(48, 45, 44);
$color-h4: rgb(29, 33, 33);