//colores
$color-principal: linear-gradient(63deg, rgb(254, 249, 225) 0%, rgba(229, 208, 172, 0.67) 27%, rgb(255, 255, 255) 100%);
$color-header: linear-gradient(63deg, rgba(0,0,0,0.8689600840336135) 0%, rgba(0,0,0,0.5216211484593838) 42%, rgba(159,169,167,0.3087359943977591) 78%, rgba(255,255,255,0.31994047619047616) 89%);
$color-h1: rgb(16, 82, 72);
$color-sombra: rgba(104, 143, 134, 0.281) 5px 5px 2px;
$color-h3: rgb(48, 45, 44);
$color-h4: rgb(32, 105, 102);